.followers-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.followers-container p{
    font-size: large;
    font-weight: 600;
}

.followers-container .followers-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}